.review-img{
    width: 60%;
    
 
}
.reviewcontent{
    width: 80%;
   
}
.reviewcontent>h5{
    font-size: 18px;
    color: rgb(50, 50, 133);
    font-style: italic;
    font-family: sans-serif;
    text-decoration: underline;


}